.login-section {
    box-sizing: border-box;
    padding: 30px;
    height: 100vh;
}
.login-box {
    width: 350px;
    margin: 0 auto;
}
.login-left, .login-right {
    width: 50%;
}
.login-left h2, h6 {
    text-align: center;
}
.login-left h6 {
    margin: 20px 0 40px;
}
.login-right img {
    border-radius: 10px;
    border-radius: 18px;
}

.form-group.forgot-password-link {
    margin-top: 10px;
    text-align: right;
}
.form-group.signup-link {
    margin-top: 10px;
    text-align: center;
}