.login-section {
    background-color: #f0f0f0;
}
.login-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 100%;
    text-align: center;
}
.login-box  h2 {
    margin-bottom: 20px;
    color: #333;
}
.form-group.forgot-password-link {
    margin-top: 10px;
    text-align: right;
}
.form-group.signup-link {
    margin-top: 10px;
    text-align: center;
}