// Pages CSS
.page {
  padding: 15px 0;
}
// Page Counter
.page-counter {
  flex-wrap: wrap;
  align-items: center;
  height: calc(100vh - 220px);
  display: flex;
  .counter-container {
    text-align: center;
    .counter-value {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .btn {
      font-size: 20px;
      padding: 5px 20px;
    }
  }
}
